---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import DoctorProfile from '../components/DoctorProfile.astro';
import Testimonials from '../components/Testimonials.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Home">
  <Navbar />
  <main>
    <Hero />
    <Services />
    <DoctorProfile />
    <Testimonials />
    <Contact />
  </main>
  <Footer />
</Layout>
